@{
    ViewBag.Title = "Anglular JS";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<h3>AngularJK Playground</h3>
<div ng-app="">
    <p>First Name: <input type="text" ng-model="firstname"></p>
    <p>Last Name: <input type="text" ng-model="lastname"></p>

    <p>With ng-bind: <span ng-bind="firstname"></span></p>
    <p>With an expression:1 {{ firstname + " " + lastname }}</p>
    
</div>

<br />