@{
    ViewBag.Title = "Anglular JS";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<h3>AngularJK Playground</h3>
<div ng-app="">
    <p>Name: <input type="text" ng-model="name"></p>
    <p ng-bind="name"></p>
    <p></p>
    <p>My first expression, what is 5+5?: {{ 5 + 5 }}</p>
    
</div>


<br />
@*@(Html.Kendo().Grid()
    .Name("testGrid")
    .BindTo()*@

<br />